* {
  color: #333;
}

h1 {
  padding: 1rem;
  text-align: center;
}

a {
  color: $main-color;
}

a:hover {
  color: $deeper-color;
}

.btn-primary {
  color: #fff;
  background-color: $main-color;
  border-color: $main-color;
}

.btn-primary:hover {
  background-color: $deep-color;
  border-color: $deep-color;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: $deeper-color;
  border-color: $deeper-color;
}
